.all{
    width: 100%;
    margin-left:-160px;
    margin-top: -40px;
    .img{
        width: 100%;
        height: 1140px;
        .imgb{
            margin-top: -10px;
        }
    
    }
    .xinpin{
        width: 1680px;
        height: 1200px;
        background-color: rgb(221, 221, 68);
        .xin1{
            width: 20%;
            height: 450px;
            float: left;
            margin-left: 50px;
            margin-top: 80px;
            overflow: hidden;
            .top101{
                width: 100%;
                height: 400px;
            }
            .top101 a:hover{
                border: 2px #ccc solid;
            }          
            .but101{
                width: 100%;
                height: 50px;  
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .xinpin1{
        width: 1680px;
        height: 1200px;
        background-color: rgb(78, 72, 153);
        .xin1{
            width: 350px;
            height: 450px;
            float: left;
            margin-left: 50px;
            margin-top: 80px;
            .top101{
                width: 350px;
                height: 400px;
            }
            .top101 a:hover{
                border: 2px #ccc solid;
            }          
            .but101{
                width: 350px;
                height: 50px;  
            }
        }
    }
    .xinpin2{
        width: 1680px;
        height: 1200px;
        background-color: rgb(26, 204, 189);
        .xin1{
            width: 350px;
            height: 450px;
            float: left;
            margin-left: 50px;
            margin-top: 80px;
            .top101{
                width: 350px;
                height: 400px;
            }
            .top101 a:hover{
                border: 2px #ccc solid;
            }          
            .but101{
                width: 350px;
                height: 50px;  
            }
        }
    }
    .maot{
        position: fixed;
        top:280px;
        right:80px;
        width: 80px;
        height: 160px;
        font-size: 14px;
        // color: black;
        // background-color: rgb(69, 108, 150);
        div{
            width: 60;
            height: 30px;
            color: black;
            font-size: 16px;
        }
    }
    .maob{
        position: fixed;
        top:440px;
        right:120px;
        width: 40px;
        height: 40px;
        background-color: bisque;
    }
    .dingbu {
        position: fixed;
        top:500px;
        right:120px;
        width: 40px;
        height: 40px;
        background-color: rgb(24, 21, 19);
        color: white;
        a{
            font-size: 14px;
            text-decoration: none;
        }   
    }
    }