*{
    margin: 0;
    padding:0;
}
.ul.el-menu.el-menu--horizontal.el-menu-demo
{
    background-color: black;
    width: 100% !important
}
a{
    text-decoration: none;
}

// dd
// {
//     width: 100%;
//     background-color: black;
// }
// a
// {
//     text-decoration:none;
//     color: white;
// }
