.user {
    margin-top: 80px;
}
.login {
    color: black;
    text-decoration: none;
}
.login:hover {
    color: coral;
}
.register {
    color: black;
    text-decoration: none;
}
.register:hover {
    color: coral;
}
.exit {
    color: blue;
}
.exit:hover {
    color: green;
}
